{% load bootstrap3 %}
{% load static%}
<head>
    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/pics.css' %}">
  {% endblock %}
</head>
<body>
    
        {% include "navbar.html" %}
        <h1 class="text-center" class="jumbotron">Welcome to my Gallery</h1>
    {% block content %}
    
    
 
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'assets/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>

 {% bootstrap_javascript %}

{% endblock %}
</body>  
 {%endblock%}
