{%extends 'all-photos/base.html'%}

{% block content %}
{{block.super}}





<div class="container">
    
  {%if images%}
  
    
    <div class="row">

      <h1 class="text-center" >ALL IMAGES</h1>
            {% for image in images %}
            
          <div class="col-md-4" >
                <div class="card "  style="width:16px; padding: 10px;">
                   <img src="{{image.image.url}}" alt="" width="300" height='250'>
                </div>
          </div>
               
  
            {% endfor%}
            
    </div>
    {% endif %}
   

    


</div>

{% endblock %}