{%extends 'all-photos/base.html'%} 
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="container">

  <div class="row">
    {% if searched_image%}
      <h2>Found {{ searched_image|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 images for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

    {% if searched_image%}
    
    {% for image in searched_image %}
      <div class="col-md-4">
         <img src="{{image.image.url}} " width="300" height='250'>
         <p>category: {{image.category}}</p>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}