h1
{
  color: rgb(0, 179, 170);
}
#new{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../css/animals4.jpeg);

  /* width:100%; */
  /* background-repeat: no-repeat; */
  background-size: cover; 
}
.navbar-form{
  overflow: hidden;
  float: right;
}